*{
  box-sizing: border-box;
}

header{
  height: 10vh;
  width: 98vw;
  padding-left: 2vw;
  background-color: rgb(22, 22, 107);
  margin-bottom: 3vh;
  padding-right: 2vw;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  text-transform: uppercase;
  font-size: 2vh;
  color: white;
}

header button{
  height: 5vh;
  width: 5vw;
  /* margin-top: 2vh; */
  border: none;
  border-radius: 5px;
  font-size: 2vh;
  font-weight: 600;
  color: rgb(22, 22, 107);
}

.cartContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(226, 229, 233);
}

.itemContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
}

.failedAPI{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(218, 29, 29, 0.911);
}

.noProducts{
  text-align: center;
  color: rgb(22, 22, 107);
}

.loaderLogo{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgb(22, 22, 107);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}


@media screen and (max-width:1200px){
  .itemContainer{
      flex-direction: column;
      align-items: center;
  }

  header button{
    width: 15vw;
    font-size: 1.5vh;
  }
}