.cartProductItem{
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(87, 87, 104, 0.267);
    padding-top: 5vh;
}

.imageProduct{
    width: 40vw;
}

.productPrice{
    color: white; 
    border-radius: 10px;
    width: 10vw;
    text-align: center;
    padding: 0.5vw;
    background-color: black;
}

.productTitle{
    color: #1B296C;
}

.imageProduct img{
    width: 30vw;
}

@media screen and (max-width: 1200px){
    *{
        font-size: 2vh;
    }
    .cartProductItem{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .descriptionProduct{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .productPrice{
        width: 20vw;
    }
}

@media screen and (max-width: 360px){
    *{
        font-size: 1.5vh;
    }
}
