.cartsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
    background-color: rgba(199, 199, 230, 0.521);
}

.cartItemContainer{
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}