.cartItem{
    border: 2px solid rgb(22, 22, 107);
    border-radius: 10px;
    padding-bottom: 5vh;
    background-color: white;
}

.cartUserHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}

.cartProduct{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}