*{
    box-sizing: border-box;
}

.item{
    width: 18vw;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(22, 22, 107);
    background-color: white;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(22, 22, 107);
    color: white;
}

a{
    text-decoration: none;
    color: black;
}
.image{
    height: 20vh;
    width: 18vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

img{
    width: 16vw;
    height: 20vh;
    object-position: center;
    object-fit: contain;
}

.description{
    display: flex;
    height: 35vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    border-bottom: 1px solid rgba(204, 202, 202, 0.438);
}

.description p{
    font-size: 1.2vh;
}
  

@media screen and (max-width:1200px){
    .item{
        width: 90vw;
    }

    .item p{
        font-size: 2vh;
    }

    .image{
        width: 90vw;
    }

    img{
        width: 90vw;
    }
}

@media screen and (max-width: 768px){
    
    .item p{
        font-size: 1.5vh;
    }
}