.headerText{
    color: white;
}

.singleProductContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singleItem{
    width: 80vw;
    font-size: 2vh;
}

.singleItem p{
    font-size: 2vh;
}

.singleItemImage{
    width: 80vw;
    height: 30vh;
    text-align: center;
}

.singleItemImage img{
    height: 30vh;
    width: 60vw;
}

.noItemPresent{
    color: red;
    text-align: center;
}


@media screen and (max-width: 768px){
    .singleItem p{
        font-size: 1.3vh;
    }

    .descriptionSingleProduct{
        height: 40vh;
    }
}

